# Environment variables
.env

# Python bytecode and caches
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# Django files
*.sqlite3
staticfiles/
media/

# IDE and OS files
.idea/
.vscode/
*.swp
*~
.DS_Store

# Celery files
celerybeat-schedule